body {
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(#bface2, #ebc7e6);
}

h1 {
  color: #645cbb;
  font-size: 34px;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #645cbb;
  display: block;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 2px solid rgba(100, 92, 187, 0.5);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(100, 92, 187, 0.2);
}

.overview {
  margin-bottom: 20px;
}

.search-details {
  text-align: center;
  margin-top: 20px;
}

.weather-temperature {
  margin: 0 auto;
  width: 190px;
  height: 190px;
  color: #645cbb;
  background-color: rgba(241, 224, 239, 0.2);
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(100, 92, 187, 0.2);
  align-items: center;
}

.weather-temperature img {
  height: 74px;
  width: 74px;
  margin-left: -7px;
}

.weather-temperature strong {
  /* color: rgb(33, 33, 33); */
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 19px;
  top: -32px;
}

.current-weather-description {
  border-top: 2px solid rgba(100, 92, 187, 0.5);
  border-bottom: 2px solid rgba(100, 92, 187, 0.5);
  color: #645cbb;
  font-size: 15px;
  font-weight: 100;
  padding: 7px;
  margin-top: 15px;
}

.current-weather-description::first-letter {
  text-transform: capitalize;
}

.weather-details {
  margin-top: 120px;
  text-align: center;
  padding: 7px;
  border-top: 2px solid rgba(100, 92, 187, 0.5);
  border-bottom: 2px solid rgba(100, 92, 187, 0.5);
}

.weather-forecast {
  margin-top: 20px;
  padding: 15px 0px;
  text-align: center;
  color: #645cbb;
  background-color: rgba(241, 224, 239, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(100, 92, 187, 0.2);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.credits {
  text-align: center;
}
