body {
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(#bface2, #ebc7e6);
  color: #645cbb;
}

h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 34px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  color: #645cbb;
}

a:hover {
  color: #fff;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px 15px 10px;
  border: 2px solid rgba(100, 92, 187, 0.5);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(100, 92, 187, 0.2);
}

.overview {
  margin-bottom: 10px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8);
}

.search-button {
  background-color: #645cbb;
  border: 2px solid #645cbb;
}

.search-button:hover {
  background-color: #fff;
  color: #645cbb;
  border: 2px solid #645cbb;
}

.search-details {
  text-align: center;
  margin-top: 20px;
}

.current-weather-description {
  border-top: 2px solid rgba(100, 92, 187, 0.5);
  border-bottom: 2px solid rgba(100, 92, 187, 0.5);
  padding: 7px;
  margin-top: 15px;
}

.current-weather-description::first-letter {
  text-transform: capitalize;
}

.weather-temperature {
  margin: 0 auto;
  width: 190px;
  height: 190px;
  background-color: rgba(241, 224, 239, 0.2);
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(100, 92, 187, 0.2);
  align-items: center;
}

.weather-temperature img {
  height: 78px;
  width: 78px;
  margin-left: -7px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 19px;
  top: -32px;
}

.weather-details {
  margin-top: 120px;
  text-align: center;
  padding: 7px;
  border-top: 2px solid rgba(100, 92, 187, 0.5);
  border-bottom: 2px solid rgba(100, 92, 187, 0.5);
}

.weather-forecast {
  margin-top: 25px;
  padding: 15px 0px;
  text-align: center;
  background-color: rgba(241, 224, 239, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(100, 92, 187, 0.2);
}

.forecast-title {
  font-size: 22px;
  font-weight: 400px;
}

.weather-forecast-date {
  font-size: 17px;
  opacity: 0.9;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.credits {
  text-align: center;
  color: #000;
}
